{% extends 'base.html' %}
{% block content %}

<style>
    .container {
	background-image: url('https://images.pexels.com/photos/9654031/pexels-photo-9654031.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); 
	background-size: cover;
	background-position: center;
	color: white; 
	padding: 100px; 
    }
</style>

	<div class="jumbotron">
	  <h1 class="display-4">Harmony</h1>
	  <p class="lead">Music taste says more than you think.</p>
	  <hr class="my-4">
	  <p>A revolutionary new way to form new, lasting connections - one song at a time.</p>
	  <a class=".container" href="#" role="button">Learn more</a>
	</div>


	{% endblock %}
